@model CarInsurance.Models.Insurees
@{
    ViewBag.Title = "GetQuote";
}

<h2>GetQuote</h2>

<div class="panel panel-default">
  <div class="panel-heading">Your quote @Html.DisplayFor(model => model.FirstName)</div>
  <div class="panel-body">
    
    @Html.DisplayFor(model => model.Quote) paid monthly
  </div>
</div>